*{
	margin: 0;
	padding: 0;
}

html, body, #application{
	height: 100%;
	overflow: hidden;
}

.diagram-container{
    height: 100%;
    background-color: rgb(60, 60, 60);
    background-size: 50px 50px;
    display: flex;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
}

.custom-node{
	border: solid 2px gray;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.custom-node-color{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.circle-port{
	width: 12px;
	height: 12px;
	margin: 2px;
	border-radius: 4px;
	background: darkgray;
	cursor: pointer;
}

.circle-port:hover{
	background: mediumpurple;
}